@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
  @apply
    bg-zinc-200 
    text-zinc-800
    dark:text-zinc-200 
    dark:bg-zinc-800
    font-sans
    m-0
    p-0
}

h1{
  @apply
    text-2xl font-semibold 
}

h2{
  @apply
    text-xl font-semibold 
}

.btn{
  @apply
    bg-emerald-600
    py-2 px-3 my-2
    inline-block
    text-white
    rounded-md
    border-2
    border-emerald-600
    hover:bg-emerald-700
    active:bg-emerald-800
}

